<app-menu></app-menu>

<main class="max-w-5xl mx-auto">
  <h1 class="text-center font-bold text-3xl mt-4">
    Traductor de lenguaje de señas boliviano
  </h1>

  <h2 class="font-bold text-2xl my-2">Lenguaje de señas</h2>

  <p>
    Las lenguas de señas, en general, son lenguas que tienen en la composición
    visual de sus mensajes la materia prima para el estudio de su estructura.
    Los lingüistas le dan categoría de lengua a la lengua de señas, porque tiene
    las mismas características que otras lenguas.
  </p>

  <br />

  <p>
    Todos los países tienen su PROPIA lengua de señas. En Bolivia la comunidad
    Sorda usa la Lengua de Señas Boliviana, cuya sigla es LSB. En Argentina, los
    Sordos usan la Lengua de Señas Argentina, LSA, etc. No existe una lengua de
    señas universal por la misma razón de que no existe una lengua oral
    universal. Los oyentes, no por ser oyentes, hablan el mismo idioma. Los
    Sordos no por ser Sordos señan la misma lengua de señas, por razones
    culturales, generacionales, políticas, ideológicas, económicas, religiosas.
    En el caso de Bolivia, la LSB recoge los aspectos culturales de la comunidad
    Sorda y de la cultura del Estado Plurinacional.
  </p>

  <section class="text-center mt-8">
    <a
      href="#"
      class="bg-[#FFE7CF] px-6 py-3 rounded-s font-bold no-underline text-gray-700"
      download
      >Descargar aplicación</a
    >
  </section>
</main>
