<main class="min-h-screen flex flex-col">
  <app-menu></app-menu>
  <div class="flex-1 flex gap-4 mx-4">
    <section class="bg-gray-300 rounded-t-3xl flex-1 pt-4 px-6">
      <h1 class="text-center text-xl font-bold mb-4">
        Administración de roles
      </h1>
      <app-form-role
        *ngIf="!isLoading && !showModal"
        [role]="selectedRole"
        (onSubmitEmitter)="onSubmit($event)"
      ></app-form-role>
    </section>
    <section class="w-80 flex flex-col">
      <div class="flex-1">
        <input
          (input)="onSearchInputChange($event)"
          id="search"
          name="search"
          type="text"
          placeholder="Buscar Rol"
          class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
        <div
          *ngFor="let role of _listOfRoles; let idx = index"
          class="overflow-y-auto max-h-[calc(100vh-210px)]"
        >
          <button
            (click)="selectRole(role)"
            class="py-2 hover:bg-gray-300 w-full text-left rounded pl-2"
          >
            <div>
              <span>{{ role.name }}</span>
            </div>
            <p>{{ role.description }}</p>
            <hr />
          </button>
        </div>
      </div>
      <button
        (click)="openModal()"
        type="button"
        class="my-4 py-4 px-6 bg-blue-600 hover:bg-blue-800 text-sm text-gray-50 font-bold rounded-xl transition duration-200"
      >
        Agregar Rol
      </button>
    </section>
  </div>
</main>

<app-modal
  [showModal]="showModal"
  title="Crear nuevo rol"
  (closeModal)="closeModal()"
>
  <app-form-role (onSubmitEmitter)="onSubmitCreate($event)"></app-form-role>
</app-modal>
